<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="com.deu.Amall.dao.BasketMapper">
<!-- 장바구니에 담기 -->
    <insert id="insert">
        insert into basket (user_id, product_id, product_price, qty, INSRT_USER_ID, INSRT_DT, UPDT_USER_ID, UPDT_DT)
        values 
          (#{userId}, #{productId}, #{productPrice}, #{qty}, #{insrtUserId}, sysdate, #{insrtUserId}, sysdate)

    </insert>
    
    <select id="listBasket" resultType="com.deu.Amall.util.PubMap">    
        select p.product_id, b.user_id, b.qty, b.product_price, p.product_name, b.qty*b.product_price as Money
        
        from user_Info u, basket b, product p
        
        where u.user_id=b.user_id and b.product_Id=p.product_Id
          and u.user_id = #{userId} 
    </select>
    
    
    <delete id="delete">
    	delete from basket
    	where product_Id = #{productId}
    
    </delete>
    
    <delete id="deleteall">
    	delete from basket
    	where user_Id=#{userId}
    </delete>
    
    <update id="update">
    
    </update>
    
     <select id="sumMoney" resultType="int">

        select nvl(sum(b.product_price*b.qty),0)
       
        from basket b,product p

        where b.product_id=p.product_id and user_id=#{userid}

    </select>
    
    
    
</mapper>
