<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.deu.Amall.dao.MemberMapper">
	<!-- 회원가입 -->
	<insert id="insert">
	
		INSERT INTO user_info(userType,userName,userId,password,birthday,gender,email,contact,address,insrtUserId,insrtDt,updtUserId, updtDt)
		VALUES(#{userType},#{userName},#{userId}, #{password},#{birthday}, #{gender}, #{email},#{contact},#{address}, #{insrtUserId}, #{insrtDt}, #{updtUserId},#{updtDt})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="com.deu.Amall.domain.MemberVO">
		select userId,password
		from user_info
		where userId = #{userId}
		and password= #{password}
	
	</select>
</mapper>