<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.deu.Amall.dao.OrderMapper">
	<select id="getMaster" resultType="com.deu.Amall.util.PubMap">
		SELECT order_id, order_date, order_amt
		FROM ordermaster
		WHERE order_id = #{orderId}
	</select>

	<select id="getList" resultType="com.deu.Amall.util.PubMap">
		SELECT o.order_id, o.order_seq, p.product_name, o.qty, o.product_price 
		FROM orderlist o
		  INNER JOIN product p ON o.product_id = p.product_id
		WHERE o.order_id = #{orderId}
	</select>

	<select id="getBasketList" resultType="com.deu.Amall.util.PubMap">
		SELECT product_id, product_price, qty
		FROM basket
		WHERE user_id = #{userId}
	</select>
<!--    	<insert id="insertOrderMaster" useGeneratedKeys="true" keyColumn="order_id" keyProperty="orderId"> -->
	<insert id="insertOrderMaster" >

		<selectKey keyProperty="orderId" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(order_id), 0) + 1 FROM ordermaster
		</selectKey>

		INSERT INTO ordermaster
		(order_id, order_date, order_amt, state,  
		 insrt_user_id, insrt_dt, updt_user_id, updt_dt)
		VALUES
		(
		#{orderId},
		#{orderDate}, #{orderAmt}, #{state},
		#{insrtUserId}, sysdate, #{insrtUserId}, sysdate
		)
	</insert>

	<insert id="insertOrderList" >

		<selectKey keyProperty="orderSeq" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(order_seq), 0) + 1 FROM orderlist 
			 WHERE order_id = #{orderId} 
		</selectKey>

		INSERT INTO orderlist
		(order_id, order_seq, product_id, qty, product_price,  
		 insrt_user_id, insrt_dt, updt_user_id, updt_dt)
		VALUES
		(
		#{orderId}, #{orderSeq}, #{productId}, ${qty}, ${productPrice},
		#{insrtUserId}, sysdate, #{insrtUserId}, sysdate
		)
	</insert>

	<update id="updateTotalAmount" >
		UPDATE ordermaster
			SET order_amt = 
			    ( SELECT NVL(SUM(qty * product_price ),0) FROM orderlist 
			        WHERE order_id = ${orderId} )
			WHERE order_id = ${orderId}
	</update>
	
</mapper>