<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deu.Amall.dao.ProductMapper">

    <select id="getAllProducts" resultType="com.deu.Amall.util.PubMap">
        select 
			product_id  ,
			product_type ,
			product_name ,
			explanation ,
			product_price,
			inventory ,
			INSRT_USER_ID ,
   			INSRT_DT ,
            UPDT_USER_ID ,
            UPDT_DT 
		From product
		ORDER BY product_name
    </select>
	<insert id="insert">
	
	<selectKey keyProperty="productID" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(product_id) + 1, 1) FROM PRODUCT
		</selectKey>
	INSERT INTO PRODUCT
		(product_id, product_type, product_name, explanation, product_price, inventory,
		 insrt_user_id, insrt_dt, updt_user_id, updt_dt)
		VALUES
		(
		#{productId},
		#{productType}, #{productName}, #{explanation},#{product_price}, #{inventory}
		#{insrtUserId}, sysdate, #{insrtUserId}, sysdate
		)
	</insert>
</mapper>