<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deu.Amall.dao.ProductMapper">

    <select id="listProduct" resultType="com.deu.Amall.domain.ProductVO">
        select 
			product_id AS productId,
			product_type AS productType,
			product_name AS productName,
			explanation AS explanation,
			product_price AS productPrice,
			inventory AS inventory,
			INSRT_USER_ID AS insrtUserId,
   			INSRT_DT AS insrtDt,
            UPDT_USER_ID AS updtUserId,
            UPDT_DT AS updtDt,
		From product
		ORDER BY product_name
    </select>

    <select id="detailProduct" resultType="com.deu.Amall.domain.ProductVO">
        select 
			product_id AS productId,
			product_type AS productType,
			product_name AS productName,
			explanation AS explanation,
			product_price AS productPrice,
			inventory AS inventory,
			INSRT_USER_ID AS insrtUserId,
   			INSRT_DT AS insrtDt,
            UPDT_USER_ID AS updtUserId,
            UPDT_DT AS updtDt,
		From product
		WHERE product_id =#{productId}
    </select>
</mapper>